/*Este é um comentário em css*/
    header {
     background-color:blue
    }
    h1 {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    h2 {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    a { font-weight: bold;
    }
    div {padding: 20px;}
