/*Este é um comentário em css*/
    header {
     background-color:blue
    }
    h1 {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    h2 {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    a { font-weight: bold;
    }
    div {padding: 20px;}
    section {line-height: 1.5;}
    form {
        border: solid 1px #c4c4c4;
        padding: 10PX;
    }

    p {
        color: green;
    }
    button {background-color: blue;}
    input {background-color: blue;}
    ::placeholder { color: aliceblue;}
    body {border-style: solid; border-color: red; border-width: 2px;}
    